.operation {
    font-family: 'Courier New', Courier, monospace;
    display: inline;

    &.stdin {
        .element {
            &.element-raw {
                background-color: #ffe2e2;
            }
        }
    }
    &.stdout {
        .element {
            &.element-raw {
                background-color: #989fff;
                color: rgb(17, 51, 104);
            }
            &.element-uninteresting {
                background-color: #d1d4ff;
                color: gray;
            }
            &.element-hex32,
            &.element-decimal32 {
                background-color: #414eff;
                border: 1px solid #9ba2ff;
                color: white;
                border-radius: 2px;
            }
            &.element-unprocessed {
                background-color: #c9c9c9;
                color: #505050;
            }
        }
    }

    .chunk {
        display: inline;

        .element {
            display: inline;

            .pending {
                color: gray;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}
